body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card {
  width: 350px;
}
